*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body{
        width: 100%;
        height: 100vh;
        background: #b6b3b3;
    }
    
    .app h1 {
        color: #000000;
        font-size: 70px;
        text-align: center;
        margin: 2rem 0;
       
    }
    
    .search {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .search input {
        width: 70%;
        border: none;
        outline:none;
        height: 50px;
        padding: 1rem;
        border-radius: 7px;
    }
    
    .search img {
        width: 40px;
        height: 40px;
        background: #f1f1f1;
        border-radius: 50px;
        padding: 0.5rem;
        cursor: pointer;
        margin-left: 1rem;
        transition: all .2s ease-in-out;
    }
    
    .search img:hover {
        background: #e2f8a7;
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    
    .container {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        place-items: center;
        padding: 0 1rem;
        grid-gap: 1rem;
        margin-top: 2rem;
    }
    
    .poke {
        width: 250px;
        height: 250px;
        position: relative;
        border-radius: 10px;
        overflow:hidden;
        cursor: pointer;
    }
    
    .poke-name {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background: crimson;
        color: #fff;
        padding: 1rem;
        border-radius: 7px;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        z-index: 3;
    }
    
    .poke img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
    
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        z-index: 1;
        opacity: 0;
    }
    
    .poke-stats {
        width: 100%;
        height:120px;
        position: absolute;
        bottom: 0;
        left: 0px;
        padding: 1rem;
        background: rgba(0,0,0,.9);
        display:flex;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        margin-top: 2rem;
        transition: opacity .2s ease-in-out;
        z-index: 3;
    }
    
    .poke-stats span {
      display: block;
      color: #f1f1f1;
      margin-bottom: 0.5rem;
      font-style: italic;
      text-transform: uppercase;
    }
    
    .poke-stats h3 {
        color: rgb(255, 255, 255);
        font-weight: 900;
    }
    
    .poke:hover  .poke-stats, .poke:hover .poke-name,  .poke:hover .filter {
        opacity: 1;
    }